<!DOCTYPE html>
<html>
<head>
  <title>Assetmanagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<style type="text/css">
  body { background: #007acc, color: white;  } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div class="container">

  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
</html>
